<!-- put in header partial later -->
<ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", static_about_path %></li>
        <% if user_signed_in? %>
          <li><%= current_user.email %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        	<li><%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %></li>
         	<li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></li>
        <% end %>
</ul>



<div>
     <h1>Home</h1>
     <% if user_signed_in? %>
          <h3>you're logged in</h3>
      		</br></br>

          <h3>Who do you wanna host?</h3>
          	<!-- only display trips that do not have an accepted at, and that the user has not declined -->
          	<% @unresponded.each do |trip| %>
              <!-- josh originally put this in the trips/tip partial but i just moved it back out -->
              </br>City: <%= trip.city.city_name %></br> <!-- ?display city_name? -->
              </br>Email: <%= trip.email %></br>
              </br>Guests: <%= trip.number_of_people %></br>
              </br>Date: <%= trip.start_date%> </br>


              <div class="actions">
                <%= link_to 'Accept', accept_trip_path(trip), confirm: 'Are you sure?' %>
                <%= link_to 'Decline', decline_trip_path(trip), confirm: 'Are you sure?' %>
              </div>
          	<% end %>

          	</br></br>


            <h3>My Hostings (you accepted these people but they haven't paid)</h3>
            <% @my_trips.each do |trip| %>
              <%= render partial: 'trips/trip', locals: { balls: trip } %>
            <% end %>
 

          <h3>Upcoming Hostings: (these ppl have put in their CC... complete code field will go here)</h3>
            <% @peopletocharge.each do |trip| %><!-- people who have a card id but not a complete code -->
              </br>City: <%= trip.city.city_name %></br>
              </br>Email: <%= trip.email %></br>
              </br>Guests: <%= trip.number_of_people %></br>
              </br>Date: <%= trip.start_date%> </br>
              <!-- button to charge them --><!-- later complete code field -->
              </br>
              <%= link_to 'Charge User', charge_trip_path(trip), confirm: 'Did you go HAM with this user? This will charge them.' %>
              </br></br></br>
            <% end %>
          
     <% else %> <!-- not logged in -->
       <p>

       </p>
  	<%= @lasttrip %>

  	<%=form_for(@tripinput) do |x| %>
      <!-- for validation errors... not working. working now changed something in controller... changed trip to tripinput to match trips controller -->
        <% if @tripinput.errors.any? %>
          <h2><%= pluralize(@tripinput.errors.count, "error")%> made this not save </h2>
          <ul>
            <% @tripinput.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
      <!-- the above code isnt working -->
	  	Email: </br>
	  	<%= x.text_field :email %>
	  	</br></br>
	  	Guests: </br>
	  	<%= x.select(:number_of_people, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %> 
	  	<!-- the key is what shows up to the user, the value is what gets put into the db -->
	  	</br></br>
	  	Whereone:</br>
	  	<%= x.select(:city_id, options_for_select([['Helsinki', 1]])) %> 
	  	</br></br>
	  	When: </br>
	  	<%= x.date_select :start_date %>
	  	</br></br>
	  	<%= x.submit "Find me a Host" %>  <!-- submits to trip's create action -->
	<% end %>
  	
</div>
  	<% end %>  <!-- ends the else statement of if user_signed_in?-->
